.btn_creature {
  margin-left: 15px;
  margin-top: 20px;
  width: auto;
  height: 50px;
  text-align: center;
}
.crtgif{
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}  
.animalblk{
  float:left;
}
.after-animalblk{
  clear:left;
}
.rating_p{
  margin-top: 10px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 0px;

}
.col-sm-8,.col-sm-4{
  margin-top: 15px;
}
.col-sm-8 {
  border: 1px solid #9E9E9E;
  position: relative;
  padding-bottom: 60px;
}

#newcr{
  font-weight: bold;
  background-color:brown;
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
  /*text-align: center;*/
}

body {
  /*background-image: url("../images/darkpallette.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.lbl_header {
  /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(2,119,189,1)); */
  background-color:brown;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px #000;
  padding: 10px;
  margin-left: -15px;
}
#creat_btn{
  margin-left: -15px;
}

.new_gifs {
  position: absolute;
  bottom: 10px;
  right: 100px;
}
#add{
  margin-left: 10px;
}
#new_creature{
  margin-top: 10px;
}